@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cabinet Grotesk", sans-serif;

  --Primary-Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
   --Light-Grayish-Cyan-bg : hsl(180, 52%, 96%);
   --Light-Grayish-Cyan-tb : hsl(180, 31%, 95%);
   --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
   --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
     font-size: 15px
}